/* Basic styling for the feed container */
.feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Align cards with space around them */
    /* padding: 20px; Add some padding */
    /* margin-left: 250px; Ensure it does not overlap with the sidebar */
  }
  
  /* Basic styling for the card elements */
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
   
   
    box-sizing: border-box;
    transition: transform 0.2s; /* Animation for hover effect */
  }
  
  .card img {
    width: 343px;
    height: 193px;
    border-radius: 8px 8px 0 0;
  }
  
  .card h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 5px ;
  }
  
  .card h3 {
    font-size: 14px;
    font-weight: 400;
    color: #555;
    margin: 5px;
  }
  
  .card p {
    font-size: 14px;
    font-weight: 300;
    color: #777;
    margin: 5px ;
  }
  
  .card:hover {
    transform: translateY(-5px); /* Hover effect for the card */
  }
  