.recommended{
    flex-basis: 30%;
}

.videolist{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.videolist img{
    flex-basis: 49%;
    width: 50%;
    height: 130px;
    border-radius: 15px;
}

.video-info{
    flex-basis: 49%;
}

.video-info h4{
    font-size: 13px;
    margin-bottom: 5px;
}